<% layout('layout') -%>
<% script('/javascripts/timeline.js') -%>

<div id="timeline-container">

	<div id="coding-timeline">
		<h3>코딩은 하고 있나</h3>
		<div id="github">
			<img class="loading" src="/images/preloader-w8-line-black.gif" />
		</div>
	</div>
	
	<div id="other-timeline">
		<h3>코딩 말고는 뭘 하나</h3>
		<div>
			<img class="loading" src="/images/preloader-w8-line-black.gif" />
		</div>
	</div>
</div>