<% layout('layout') -%>
<div class="post-container">
	<% for(var i=0; i<articles.length; i++) { %>
		<div class="post-box">
		<div class="post-title"><%= articles[i].title %></div>
		<!--<div class="post-author"><%= articles[i].author %></div>-->
		<div class="post-content"><%- articles[i].content %></div>
		<div class="post-date"><%= articles[i].date %></div>
		</div>
	<% } %>
</div>