<% layout('layout') -%>
<div class="post-container">
	<div class="slide-container">
		<div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/vang0123v/ss-17657446" title="게임 클론하기" target="_blank">게임 클론하기</a> </strong> </div>
	</div>
	<div class="slide-container">
		<div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/vang0123v/ss-17657156" title="협업 툴 사용법" target="_blank">협업 툴 사용법</a> </strong> </div>
	</div>
</div>